/* Reset e estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

header {
    background-color:  #4CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header a {
    text-decoration: none;
    color: #fff;
}

header h1 {
    font-size: 2rem;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 0.9rem;
}

header nav a:hover {
    opacity: 0.3px;
}

header p {
    font-size: 1rem;
}

/* Estilos principais */
.main-section {
    padding: 20px;
}

.container {
    margin-bottom: 30px;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.image-product {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 220px; /* Largura ajustada para corresponder à altura das imagens */
    transition: transform 0.3s;
}

.image-product:hover {
    transform: scale(1.03);
}

.product-image {
    width: 100%;
    height: 130px; /* Diminuindo ainda mais o tamanho das imagens */
    object-fit: cover;
}

.product-title {
    display: block;
    font-size: 1rem;
    margin: 10px 0;
}

.product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.product-price {
    font-size: 1rem;
    color:  #4CAF50;
}

.button-hover-background {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-hover-background:hover {
    background-color: #4CAF50;
}

/* Estilo da tabela do carrinho */
.cart-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th, .cart-table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-table .cart-product-image {
    width: 60px; /* Diminuindo a largura das imagens do carrinho */
    height: 60px; /* Diminuindo a altura das imagens do carrinho */
    object-fit: cover;
}

.cart-table .cart-product-title {
    font-size: 0.9rem;
}

.cart-table .cart-product-price {
    font-size: 0.9rem;
}

.cart-table .product-qtd-input {
    width: 50px;
    text-align: center;
}

.remove-product-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.remove-product-button:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
}

.cart-total-container {
    text-align: right;
    padding: 10px;
    background-color: #f7f7f7;
}

.porchasse-button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.porchasse-button:hover {
    background-color: #4CAF50;
    transform: scale(1.05);
}

footer{
    h3 {
        font-style: italic;
        padding: 10px;
        font-weight: lighter;
        background-color: #4CAF50;
        color: white;
        text-align: center;
        margin-top: 20px;
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .products-container {
        flex-direction: column;
        align-items: center;
    }

    .image-product {
        width: 100%;
        max-width: 220px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header h2 {
        font-size: 1.3rem;
    }

    header p {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .image-product {
        max-width: 100%;
        width: 100%;
    }

    .button-hover-background, .porchasse-button {
        width: 100%;
    }

    header h1, header h2 {
        font-size: 1.5rem;
    }

    header p {
        font-size: 0.8rem;
    }
}

